body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #e9ebee;
}

.Main {
	width: 65%;
	position: absolute;
	top: 48px;
	left: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	overflow: auto;
}