.Profile img {
	width: 100%;
}

.Profile section {
	padding: 20px;
	margin: 20px;
	background: #FFF;
}

.Profile-name {
	margin-top: -200px;
	color: #FFF;
	text-shadow: 0 0 10px #000;
	padding: 20px;
	height: 200px;
	font-size: 25px;
}

.Profile-name h1 {
	overflow: hidden;
  text-overflow: ellipsis;
    white-space: nowrap;
}