.Search {
		display: inline-block;
		vertical-align: top;
		margin: 5px 0;
		width: 30%;
		height: 26px;
		padding: 5px;
		border: 1px solid #FFF;
		border-radius: 5px 0 0 5px;
	}

	.Search-icon {
		display: inline-block;
		cursor: pointer;
		vertical-align: top;
		margin: 5px 5px 5px 0;
		width: 36px;
		height: 36px;
		border: 1px solid #FFF;
		border-radius: 0 5px 5px 0;
		background: url("../../public/search.png");
	}

	.Search-icon:hover {
		background-color: rgba(255, 255, 255, 0.3);
	}

	.Search-results {
		position: absolute;
		top: 48px;
		bottom: 0;
		width: 35%;
		right: 0;
		margin: 0;
		padding: 0;
		overflow: auto;
		text-align: left;
		list-style: none;
		color: #333;
		border-left: 2px solid #FFF;
	}

		.Search-results li {
			height: 100px;
			cursor: pointer;
		}

		.Search-results li:hover {
			opacity: 0.7;
		}

		.Search-results li:nth-child(even) {
			background-color: rgba(0, 0, 0, 0.1);
		}

			.Search-results li a {
				padding: 0;
				height: 100px;
				width: 100%;
				display: inline-block;
				text-decoration: none;
				color: #333;
			}

				.Search-results li a img {
					float: left;
					position: absolute;
				}

				.Search-results li a div {
					line-height: 100px;
					height: 100px;
					padding: 0 10px 0 110px;
					vertical-align: top;
					overflow: hidden;
  					text-overflow: ellipsis;
    				white-space: nowrap;
					
				}

				.Search-noResults {
					text-align: center;
					padding: 20px;
				}
		
